@media all and (max-device-width: 315px) {

	body {
		margin: 0 auto;
		padding: 0;
	}
	.container {
		max-width: 315px;
		padding: 0;
		margin:0;
	}
	.navbar-header {
		max-width: 315px;
	}
	.top-header p {
		display: inline;
		text-align: center;
	}

	.box-1 {
		padding: 0;
		display: inline-block;
	}

	.bouton-sign {
		padding-top: 20px;

	}

	.top-logo {
		display: inline;
	}

	.recherche {
		display: inline;
	} 

	.baseline {
		padding-bottom: 250px;
	}

	.baseline img {
		max-width:105%;
		-webkit-filter:brightness(100%)
	}

	.gros-titre {
		padding: 0;
		margin: 0 auto;
		padding-top: 140px;
		color: black;
		font-size: 0.5em;
		padding-bottom: 150px;


	}
	.btn-2 {
		font-size: 2.2em;

	}

	h1 {
		color: black;
		max-width: 315px;
		font-size: 6.2em;

	}

	.titre-1 {
		margin:0;
		padding: 0;
		padding-top: 100px;
		padding-left: 50px;

	}

	.titre-2 {
		margin:0;
		padding-top: 330px;
		padding-left: 50px;
	}

	.titre-3 {
		margin:0;
		padding-top: 550px;
		padding-left:70px;

	}

	#posts {
		position: absolute ; z-index:1;
		margin-top: 650px;
		padding: 0;
	}

	.barre-sous-recent {
		visibility: hidden;
	}

	.rectangle-1 {
		margin-top: 90px;
		width: 270px;
		margin-left: 20px;
		height: 400px;

	}

	.paragraphe {
		padding-left: 15px;
		width: 250px;

	}

	.rectangle-2 {
		width: 270px;
		margin-left: 20px;
		height: 70px;

	}

	.search {
		padding-top: 20px;
		padding-left: 55px;
		width: 200px;
	}

	footer {
		padding-left: 20px;
	}